@import '../../../vendor/variables';

.expandButton {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: $body-weight-20-22;
  font-size: $body-size-20-22;
  line-height: $body-line-height-20-22;
  color: #245eee;
  cursor: pointer;
  margin-top: 13px;

  .expandButtonText {
    margin-right: 12px;
  }
}
