asgiref==3.7.2
catboost==1.2
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.1.0
cycler==0.11.0
Django==3.2.6
django-cors-headers==4.1.0
django-enum==1.2.1
django-extensions==3.2.3
djangorestframework==3.12.4
fonttools==4.40.0
graphviz==0.20.1
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==1.5.3
Pillow==9.5.0
plotly==5.15.0
py3dbp==1.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
tenacity==8.2.2
typing_extensions==4.6.3
urllib3==2.0.3
