asgiref==3.7.2
awsebcli==3.20.6
botocore==1.29.99
catboost==1.2
cement==2.8.2
certifi==2023.5.7
charset-normalizer==2.0.12
colorama==0.4.3
contourpy==1.1.0
cycler==0.11.0
Django==3.2.6
django-cors-headers==4.1.0
django-enum==1.2.1
django-extensions==3.2.3
djangorestframework==3.12.4
gunicorn==20.0.4
fonttools==4.40.0
graphviz==0.20.1
idna==3.4
jmespath==1.0.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==1.5.3
pathspec==0.10.1
Pillow==9.5.0
plotly==5.15.0
psycopg2-binary==2.9.6
py3dbp==1.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==5.4.1
requests==2.26.0
scipy==1.10.1
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.4
tenacity==8.2.2
termcolor==1.1.0
typing_extensions==4.6.3
urllib3==1.26.16
wcwidth==0.1.9