.nda {
  position: sticky;
  bottom: 0;
  background-color: #000000;
  padding: 4px 24px;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  div {
    display: flex;
    gap: 296px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #7e7e7e;
  }
}
