@import '../../../vendor/variables';

.overlay {
  visibility: hidden;
  position: absolute;
  overflow-y: scroll;
  background-color: transparent;
  top: 104px;
  padding: 40px 0 40px;
  /*  right: -17px; */
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s linear, visibility 0.4s linear;
  z-index: 2;
}

.overlay_opened {
  opacity: 1;
  visibility: visible;
}

.notificationPopup {
  top: 144px;
  background-color: #ffffff;
  width: 1096px;
  /* height: 185px; */
  padding: 40px 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 7px 15px 0px #0000001f;
  box-shadow: 0px 5px 46px 0px #0000001f;
  border-radius: 40px;
  cursor: pointer;

  h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: $heading-font-48-58;
    font-size: $heading-size-48-58;
    font-weight: $heading-weight-48-58;
    line-height: $heading-line-height-48-58;
  }

  p {
    text-align: center;
    font-family: $heading-font-28-32;
    font-size: $heading-size-28-32;
    font-weight: $heading-weight-28-32;
    line-height: $heading-line-height-28-32;
  }

  &_error {
    background-color: #de0000;
    color: #ffffff;
  }
}
