@import '../../../vendor/variables';

.mainButton {
  display: flex;

  button {
    height: 662px;
    width: 296px;
    font-family: $heading-font-48-58;
    font-size: $heading-size-48-58;
    font-weight: $heading-weight-48-58;
    line-height: $heading-line-height-48-58;
    border: none;
    border-radius: 24px;
    cursor: pointer;
  }

  &__problem {
    background-color: #f3f0e9;

    &:active {
      background-color: #dedede;
    }
  }

  &__ready {
    background-color: #fed42b;

    &:active {
      background-color: #f5c400;
    }

    &:disabled {
      background-color: #f3f0e9;
      cursor: default;
    }
  }
}
